<!doctype html>
<html lang="pt-BR" ng-app="app">
  <head>
    <meta charset="utf-8"/>
    <title>kill the orc</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="components/angular-material/angular-material.min.css" rel="stylesheet" type="text/css"/>
    <link href="components/animate.css/animate.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/main.css" rel="stylesheet" type="text/css"/>
  </head>
  <body ng-controller="MainCtrl">
    <div class="app" ng-class="{ 'animated fadeInDown helper--show' : start==true}">
      <div class="reset" layout="row">
        <button ng-click="reset()">reset</button>
      </div>
      <div class="container">
        <div layout="row">
          <div flex="flex">
            <div class="person">
              <div class="turn" ng-class="{ 'turn--on': turn==0 }"><span class="on">turn on</span><span class="off">turn off</span></div><strong>{{hero.name}}</strong>
              <div class="lifebar" ng-style="{width: hero.life.percent+'%', background: styleLifeStatus(hero.life.status)}"></div>
              LIFE: {{hero.life.current}}/{{hero.life.total}}
              XP: {{hero.xp.current}}/{{hero.xp.total}}<br/>ATK: {{hero.atk}}<br/>DEF: {{hero.def}}<br/>MGK: {{hero.mgk}}<br/>XP: {{hero.xp.current}}
              <div class="person__action">
                <button class="helper--fLeft" ng-click="atk(atk, hero, monster)" ng-disabled="turn!=0" ng-hide="hero.atk==0">atk</button>
                <button class="helper--fRight" ng-click="atk(mgk, hero, monster)" ng-disabled="turn!=0" ng-hide="hero.mgk==0">magic</button>
                <div class="helper--clear"></div>
              </div>
            </div>
          </div>
          <div flex="flex">
            <div class="person">
              <div class="turn" ng-class="{'turn--on': turn==1 }"><span class="on">turn on</span><span class="off">turn off</span></div><strong>{{monster.name}}</strong>
              <div class="lifebar" ng-style="{width: monster.life.percent+'%', background: styleLifeStatus(monster.life.status)}"></div>LIFE: {{monster.life.current}}/{{monster.life.total}}<br/>ATK: {{monster.atk}}<br/>DEF: {{monster.def}}<br/>MGK: {{monster.mgk}}
              <div class="person__action">
                <button class="helper--fLeft" ng-click="atk(atk, monster, hero)" ng-disabled="turn!=1" ng-hide="monster.atk==0">atk</button>
                <button class="helper--fRight" ng-click="atk(mgk, monster, hero)" ng-disabled="turn!=1" ng-hide="monster.mgk==0">magic</button>
                <div class="helper--clear"></div>
              </div>
            </div>
          </div>
        </div>
        <div layout="column">
          <div class="message"> 
            <div class="endTurn"><span ng-repeat="message in realtime.battle.currentMessage" ng-hide="turn==3">
                 {{message}}<br/></span></div>
            <div class="endBattle" ng-show="turn==3"><span>{{winnerName}} wins! <br/>{{ruler.message.battle.end}} {{monster.loot.xp}}xp</span></div>
          </div>
        </div>
      </div>
    </div>
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-aria/angular-aria.min.js"></script>
    <script src="components/angular-animate/angular-animate.min.js"></script>
    <script src="components/angular-material/angular-material.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller/MainCtrl.js"></script>
  </body>
</html>