<!doctype html>
html(lang="pt-BR", ng-app="app")
	head
		meta(charset="utf-8")
		title kill the orc
		meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
		link(href="components/angular-material/angular-material.min.css", rel="stylesheet", type="text/css")
		link(href="components/animate.css/animate.min.css", rel="stylesheet", type="text/css")
		link(href="css/main.css", rel="stylesheet", type="text/css")
	body(ng-controller="MainCtrl")
		.app(ng-class="{ 'animated fadeInDown helper--show' : start==true}")
			.reset(layout="row")
				button(ng-click="reset()") reset
			.container
				div(layout="row")
					div(flex)
						.person
							.turn(ng-class="{ 'turn--on': turn==0 }")
								span.on turn on
								span.off turn off
							strong {{hero.name}}
							.lifebar(ng-style="{width: hero.life.percent+'%', background: styleLifeStatus(hero.life.status)}")
							|LIFE: {{hero.life.current}}/{{hero.life.total}}
							|XP: {{hero.xp.current}}/{{hero.xp.total}}
							br
							|ATK: {{hero.atk}}
							br
							|DEF: {{hero.def}}
							br
							|MGK: {{hero.mgk}}
							br
							|XP: {{hero.xp.current}}
							.person__action
								button.helper--fLeft(ng-click="atk(atk, hero, monster)", ng-disabled="turn!=0", ng-hide="hero.atk==0") atk
								button.helper--fRight(ng-click="atk(mgk, hero, monster)", ng-disabled="turn!=0", ng-hide="hero.mgk==0") magic
								.helper--clear
					div(flex)
						.person
							.turn(ng-class="{'turn--on': turn==1 }")
								span.on turn on
								span.off turn off
							strong {{monster.name}}
							.lifebar(ng-style="{width: monster.life.percent+'%', background: styleLifeStatus(monster.life.status)}")
							|LIFE: {{monster.life.current}}/{{monster.life.total}}
							br
							|ATK: {{monster.atk}}
							br
							|DEF: {{monster.def}}
							br
							|MGK: {{monster.mgk}}
							.person__action
								button.helper--fLeft(ng-click="atk(atk, monster, hero)", ng-disabled="turn!=1", ng-hide="monster.atk==0") atk
								button.helper--fRight(ng-click="atk(mgk, monster, hero)", ng-disabled="turn!=1", ng-hide="monster.mgk==0") magic
								.helper--clear
				div(layout="column")
					.message 
						.endTurn
							span(ng-repeat="message in realtime.battle.currentMessage", ng-hide="turn==3") 
								|{{message}}
								br
						.endBattle(ng-show="turn==3")
							span
								|{{winnerName}} wins! 
								br 
								|{{ruler.message.battle.end}} {{monster.loot.xp}}xp
		script(src="components/angular/angular.min.js")
		script(src="components/angular-aria/angular-aria.min.js")
		script(src="components/angular-animate/angular-animate.min.js")
		script(src="components/angular-material/angular-material.min.js")
		script(src="js/app.js")
		script(src="js/controller/MainCtrl.js")