@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
$blue = #30A9DE
$yellow = #EFDC05

$primary-color = $blue
$secundary-color = $yellow

$color-background = $primary-color
$color-text = darken($color-background, 60%)

*
	font-family 'Open Sans', sans-serif
	color $color-text
	font-size 18px
html,
body
	background $color-background
button
	width 165px
	height 50px
	border-radius 35px
	color $color-background
	background #fff
	text-transform uppercase
	font-size 16px
	border 0
	margin 20px 0
	transition 0.3s
	&[disabled]
		opacity 0
	&:hover
		transition 0.3s
		background darken(#fff, 5%)
.helper
	&--show
		display block !important
	&--fLeft
		float left
	&--fRight
		float right
	&--clear
		clear both
		&:after
			content ''
.app
	display none
.reset
	padding 40px
	button
		margin 0 auto
.container
	width 980px
	margin 0 auto
.person
	padding 20px
	&__action
		padding 0 50px
.turn
	span
		margin-bottom 20px
		padding 5px 10px
		font-size 12px
		border-radius 5px
		text-transform uppercase
		background $color-text
		color $color-background
	.on
		display none
	.off
		display block
	&--on
		span
			background $secundary-color
			color darken($secundary-color, 50%)
		.on
			display block
		.off
			display none
.lifebar
	height 7px
	background greenyellow
	margin 12px 0
	border-radius 2px
	transition 1s
.message
	padding 20px
	padding 20px
	border 2px solid #2A8DB9
	border-radius 6px
	min-height 54px
	span
		font-size 20px
		color #fff